{% extends "app_blog/base.html" %}    
{% block content %}
    {% if user.is_authenticated %}
    <div class="container-home">
        <div class="row">
            <div class="col-md-12">
                <p class="h1">Selamat datang, {{ user.username }}!</p>
            </div>
            <div class="col-md-12">
                <small class="text-muted">Tekan <b>Profile</b> pada NavBar untuk melihat profile</small>
            </div>
            <div class="col-md-12">
                <small class="text-muted">Tekan <b>Logout</b> pada NavBar untuk log out</small>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-home">
        <div class="row">
            <div class="col-md-12 baris">
                <p class="h1">Selamat datang di website Story9 <br> Carlo Tupa Indriauan</p>
            </div>
            <div class="col-md-12 baris">
                <p class="h6">Jika Anda sudah mempunyai akun</p>
                <small class="text-muted">Tekan <b>Login</b> pada NavBar untuk log in</small>
            </div>
            <div class="col-md-12 baris">
                    <p class="h6">Jika Anda belum mempunyai akun</p>
                <small class="text-muted">Tekan <b>Register</b> pada NavBar untuk membuat akun baru</small>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}